@import "react-slideshow-image/dist/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.each-fade{
  font-family: 'Roboto Slab', serif;
}

.each-fade > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  
}
.image-container img{
  margin: auto;
  width: 100%;
  height: auto;
}

.slider-paragraph{
  padding: 10px;
  font-size: 30px;
}
