.styles__product-card-description-box___gjZQu .styles__row___2QDFo{
    display: initial;
    flex-flow: row;
    margin-top: .5rem;
    line-break: auto;
}
.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;

}